 /* CSS code for Homework 1 page */

body { /* Background color of entire page */
    background-color: whitesmoke;
    font-family: "cambria", sans-serif;
}
 h1 { /* Set font of thank you page text */
    text-align: right;
    font-family: "cambria", sans-serif;
    font-weight: normal;
    color: brown;
}
/* Dashed border */
hr.dashed 
{
  border-top: 3px dashed #bbb;
}

table.form, tr.form, td.form { /* Set width, background color, font color, and font size of form */
  width: 100%;
  opacity: 1.0;
  font-family: Helvetica, sans-serif;
  background-color:ghostwhite;
  padding: 0px;
  border-spacing: 00px;
  color:black;
}
th.form { /* Set width, background color, font color, and font size of "set up a new patient account" header */
  font-family: "cambria", sans-serif;
  background: linear-gradient(ghostwhite, #3f87a6);
  padding: 10px;
  border-spacing: 5px;
  color:black;
  margin-left: auto;
  margin-right: auto;
}
.textsize1 
{
    width:10px
}
.textsize5 
{
    width:40px
}

.error 
{
  color: red;
  font-size: 12px;
  font-family: "cambria", sans-serif;
  font-weight: normal;
}

.passwordMessage
{
  font-size: 12px;
  font-family: "cambria", sans-serif;
  font-weight: bold;
  position: relative;
  left:100px;
  padding: 10px;
  color: blue;
  border-spacing: 5px;
  border-radius: 15px;
}


#review
{
  font-size: 15px;
  font-family: "cambria", sans-serif;
  font-weight: normal;
  background-color: moccasin;
  color: black;
}

table.output,
tr.output,
td.output {
  width : 500%;
  font-family: "cambria";
  padding: 10px;
  border-spacing: 5px;
  border-radius: 15px;
  color:black;
}

.passwordError
{
  font-family: "cambria", sans-serif;
  font-weight: normal;
  color: red;
  left: 200px;
  padding: 10px;
}

#review
{
  margin-top :5px;
}

table.output, 
tr.output,
td.output 
{
  width : 500%;
  font-family: "cambria";
  padding: 10px;
  border-spacing: 5px;
  border-radius: 20px;
  color:black;
}

td.output
{
  width: 500px;
  background-color: red;
  padding: 10px;
  border-spacing: 5px;
}
