 /* CSS code for Homework 1 page */

body { /* Background color of entire page */
    background-color: whitesmoke;
    font-family: "Source Sans Pro", sans-serif;
}
 h1 { /* Set font of thank you page text */
    text-align: right;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    color: brown;
}
table.form, tr.form, td.form { /* Set width, background color, font color, and font size of form */
  width: 75%;
  opacity: 1.0;
  font-family: Arial, Helvetica, sans-serif;
  background-color:ghostwhite;
  padding: 0px;
  border-spacing: 00px;
  color:black;
}
th.form { /* Set width, background color, font color, and font size of "set up a new patient account" header */
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(95, 192, 230);
  padding: 5px;
  border-spacing: 5px;
  color:black;
  margin-left: auto;
  margin-right: auto;
}
.textsize1 
{
    width:5px
}
.textsize5 
{
    width:40px
}

